<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a80490.classproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mycourse"
        android:label="MyCourse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassShowAc" />
        <activity android:name=".TextActive" />
        <activity android:name=".DeletClassAc" />
        <activity android:name=".AddClassAc" />
        <activity android:name=".GPA_Activity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".GradeShowActivity"></activity>
    </application>

</manifest>